@charset "UTF-8";

a:hover {
    text-decoration: none;
}

.cameras {
    display: flex;
    align-items: center;
    flex-direction: column;
}


section a {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    margin: 20px;
    border-radius: 15px;
    color: black;
}

section a img {
    width: 400px;
    border-radius: 15px;
    margin-top: 10px;
}

footer {
    margin-top: 40px;
}

/*------------------------*/

.camera_card {
    width: 300px;
}

section img {
    width: 400px;
    border-radius: 15px;
    margin-top: 10px;
}