@charset "UTF-8";

a:hover {
    text-decoration: none;
}

.cameras {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.camera_index{
    width: 500px;
}

section a {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
    border-radius: 15px;
    color: black;
}

section a img {
    width: 400px;
    border-radius: 15px;
    margin-top: 25px;
}

footer {
    margin-top: 40px;
}

/*------------------------*/

.main_produit {
    display: flex;
    justify-content: center;
}

.camera {
    width: 400px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 15px;
}

.camera_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

section img {
    width: 100%;
    border-radius: 15px;
}

.camera_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


label {
    margin-right: 20px;
}

#submit {
    margin: 20px;
    background-color: rgb(214, 143, 255);
    color: white;
    font-weight: 500;
    padding: 8px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    border-radius: 10px;
}

#submit:hover {
    background-color: rgb(226, 180, 253);
    transform: scale(1.1);
}

