@charset "UTF-8";

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body a:link {
  text-decoration: none;
}

.header{
    display: flex;
    justify-content: center;
    background-color: rgb(229, 208, 250);
}

.logo{
    max-width: 400px;
}

.logo:hover{
    transform: scale(1.02);
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;
}

.products__bloc{
    border-radius: 3rem;
    border: 2px solid violet;
    padding: 0px 15px;
    background-color: rgb(255, 185, 255);
}

.footer{
    margin-top: 200px;
    background-color: rgb(229, 208, 250);
}